// Hamburger menu button state change
.hamburger-active {
    background-color:transparent;
    &:before {
      top: 0;
      transform: rotate(45deg);
    }
    &:after {
      margin-top: -3.5px;
      top: 0;
      transform: rotate(-45deg);
    }
  }