@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://use.typekit.net/atr1btp.css');
@import './theme.scss';

html,
body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: $fontPrimColor;
  font-size: 18px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 2049px) {
  html {
    zoom: 115%;
  }
}

a {
  color: $fontPrimColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.external-link {
  color: #8dc7fd;
}

.external-link-disabled {
  color: #8dc7fd;
  pointer-events: none;
  text-decoration: line-through;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: futura-pt-bold, sans-serif;
  font-style: normal;
  color: rgb(63, 63, 63);
}

h1 {
  font-size: 42px;
  letter-spacing: 0.06em;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 25px;
  margin-bottom: 1rem;
}

h5 {
  font-size: 22px;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

hr {
  background-color: #8dc7fd;
  height: 1px;
  border: 0;
}

label {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-size: 16px;
}

//Hover over style
.unSelected:hover::after,
.selected::after {
  content: '';
  position: absolute;
  width: 100%;
  background: #8dc7fdb9;
  left: 0;
  margin-top: 14px;
  margin-left: 5px;
  top: 0;
  bottom: 1;
  height: 0.6em;
  z-index: -1;
  border-radius: 3px;
}

.popover {
  font-family: inherit;
  max-width: 400px;
}

.primary {
  color: $brandPrimColor !important
}

.primary-background {
  background-color: $brandPrimColor !important;
}

.secondary {
  color: $brandSecondColor !important
}

.secondary-background {
  background-color: $brandSecondColor !important;
}

.text-muted {
  color: $fontMutedColor;
}

.floating {
  box-shadow: $boxShadow;
}

.fee-hero {
  background-color: #8dc7fd;
  margin-left: auto;
  margin-right: auto;
  height: 175px;
  padding: 1.5rem;
  border-radius: $borderRadius;
  text-align: center;
}

.section-double {
  background: linear-gradient(to right, #fafafa 50%, #f4f4f4 50%);
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  border-radius: $borderRadius;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0
  }
}

.section-triple {
  background: linear-gradient(to right, #fafafa 33.3%, #f4f4f4 33.3%);
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  border-radius: $borderRadius;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0
  }
}

table,
th,
td {
  border: 1px solid #424242;
  border-collapse: collapse;
}

table {
  width: 80%;
  margin: auto;
}

th {
  padding: 1.3rem;
  text-align: center;
  font-family: futura-pt-bold, sans-serif;
  font-style: normal;
  color: rgb(63, 63, 63);
}

td {
  padding: 0.5rem;
  text-align: left;
}


.slick-track {
  display: flex !important;
}

.slick-track .slick-slide {
  display: flex !important;
  height: auto;
  align-items: center;
  justify-content: center;
}