@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://use.typekit.net/atr1btp.css');
@import './theme.scss';
@import 'node_modules/@fortawesome/fontawesome-svg-core/styles';

html,
body {
  font-family: 'Roboto';
  background-color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 2049px) {
  html {
    zoom: 115%;
  }
}

// All text color
p,
a {
  color: $fontPrimColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: futura-pt-bold, sans-serif;
  font-style: normal;
  color: rgb(63, 63, 63);
}
h1 {
  font-size: 42px;
  letter-spacing: 0.06em;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}

label {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-size: 16px;
}

//Hover over style
.unSelected:hover::after,
.selected::after {
  content: '';
  position: absolute;
  width: 100%;
  background: #8dc7fdb9;
  left: 0;
  margin-top: 14px;
  margin-left: 5px;
  top: 0;
  bottom: 1;
  height: 0.6em;
  z-index: -1;
  border-radius: 3px;
}

.text-muted {
  color: $fontMutedColor;
}

table,
th,
td {
    border: 1px solid #424242;
    border-collapse: collapse;
}

table {
    width: 80%;
    margin: auto;
}

th {
  padding: 1.3rem;
  text-align: center;
}

td {
    padding: 0.5rem;
    text-align: left;
}
