@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  background-color: rgb(247, 247, 247);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: rgb(31, 31, 31);
}

.selected::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #c7dafc;
  left: 0;
  margin-top: 10px;
  margin-left: 1px;
  top: 0;
  bottom: 1;
  height: 0.6em;
  z-index: -1;
  border-radius: 4px;
}
