@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  background-color: rgb(247, 247, 247);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: rgb(31, 31, 31);
}

.unSelected:hover::after,
.selected::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #277dff5b;
  left: 0;
  margin-top: 9px;
  margin-left: 2px;
  top: 0;
  bottom: 1;
  height: 0.7em;
  z-index: -1;
  border-radius: 4px;
}

.unSelected:active::after{
  background:#277dff8e;
}



// For animating a shadow on page reload to make page transitions with the nav bar smoother
@keyframes shadowStart {
  50% {box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.13);}
}
@-webkit-keyframes shadowStart {
  100% {box-shadow: none;}
}
