@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  background-color: rgb(247, 247, 247);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: rgb(31, 31, 31);
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
