//Nav Bar attributes
$navBarPrimary: white;
$navBarAccent: #d8d8d8;
$navBarFontSize: 14.5px;
$imgButtonIcon: #444444;
$navBarTimesColor: white;
$navBarBarsColor: black;

//Colors
$fontPrimColor: rgb(41, 41, 41);
$fontSecColor: $navBarAccent;

$brandPrimColor: #86ddec;
$brandPrimAccent: #b2e4f1e5;

$brandSecondColor: #406dffa8;
$brandSecondAccent: #408cffa8;

// Media Queries
$mobileBreakPoint: 600px;
$navbarBreakPoint: 650px;
$tabletBreakPoint: 900px;
$desktopBreakPoint: 1200px;

//Misc
$boxShadow: "0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.13)";
$boxShadowAccent: "0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)";
$boxShadowTrans: "0.3s cubic-bezier(0.25, 0.8, 0.25, 1)";
$borderRadius: 5px;
$pageMaxWidth: 1100px;
